#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.showroom__list {}

.showroom__item li {
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;

}

.id {}

.name {}

.price {}

.nav {
  position: sticky;
  top: 0;
}